:root{
    --primarycolor:#ff274b ;
    --secondarycolor: #f7bcf7;
    --lightcolor: #ffffff;
    --bgcolor-1: #171a1c;
    --bgcolor-2: #22282a;
    --padding: 8%;

}


*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{ 
    font-family: 'Josefin Sans', sans-serif;
    font-size:16px;
    color: var(--lightcolor);
}

.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor-1);
    display:flex ;
    flex-direction: column;
}

span{
    color: var(--primarycolor);
}

h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}

nav{
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;

}

nav ul li a{
    color: var(--lightcolor);
    text-decoration: none;
   transition: 0.5s;
   font-weight: bold;
   padding: 0.81rem 1.87rem;
   border-radius: 30px;
   border: 2px solid transparent;
   transition: 0.4s;



}

nav ul li a:hover{    
    border: 2px solid var(--primarycolor);
}

.btn{
    background-color: var(--primarycolor);
    color: var(--lightcolor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.5s;
}
.btn:hover{
      background-color: transparent;
    border: 2px solid var(--primarycolor);
}

.content{
  flex-grow: 1;
  padding: 0 var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.container-text{
    position: relative;
    bottom: 70px;
}


h1{
    font-size: 4.65rem;
    margin: 1.7rem 0;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
    letter-spacing: 0.12rem;
}

h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: var(--secondarycolor);
    
}
h5{
   font-size: 1.37rem;
   letter-spacing: 2px;
   margin-bottom: 1.5rem;
}

p{
    color:var(--secondarycolor);
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 1.8rem;
}

.social{
   margin-top: 3.5rem;
}

.social img{
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;

}

.social img:hover{
    transform: scale(1.2);
}

.container-image{
    width: 45%;
    height: 90%;
 
}
.container-image img{
    width: 800px;
    height: 800px;
   position: relative;
   top: 6rem;
  
    
}



.about{
    background-color: var(--bgcolor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .container-image{
     width: 30%;
    margin-bottom: 7rem;
    
   
}


.about .container-image img{
    width: 95%;
    height: 50%;
   
    
 
    
}



.about .container-text{
    width: 30%;
}

.service{
background-color: var(--bgcolor-1);
padding: 2rem var(--padding);
}

.text-center{
    text-align: center;
}

.box{
    display:flex ;
    justify-content: space-between;
    padding-top: 3.5rem;
}

.card{
    width: 300px;
    height: 350px;
    background-color: var(--bgcolor-2);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
    
}

.box .card i{
    font-size: 3.12rem;
    color: var(--primarycolor);
    margin: 2rem;
    text-align: center;
}


.skills{
    background-color: var(--bgcolor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.skills .container-image{
     width: 30%;
    margin-bottom: 7rem;
    
   
}


.skills .container-image img{
    width: 95%;
    height: 50%;
  
    
 
    
}



.skills .container-skills{

   width: 40%; 
} 

.content-skills{
    display: flex;
    flex-wrap:wrap ;

}

.skills .container-skills .content-skills img{
    width: 130px;
    height: 130px;
    margin: 0 2rem  2rem 0 ;
}
footer{
    background-color: var(--bgcolor-1);
    padding: var(--padding);
}

footer .content-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .content-footer p{
     color: var(--lightcolor);
     text-align: center;
     width: 500px;
     margin-top: 1rem;
}

footer .content-footer .end{
    color: var(--primarycolor);
    margin-top: 1rem;
}



@media screen and (max-width: 600px;) 
    
{ 

    











}